body {background-color: #936C51;
}
h1 {color: #FFFF00;
	font-family:Century; 
	font-size: 66px;
}
p {color: #8B0000; 
	font-family:Times new romans;
	font-size: 40px;
}
h2 {color: #FFFF00;
	font-family:Century; 
	font-size: 66px;